.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  color: rgb(233, 241, 241);
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(213, 206, 206);
}


body{
  background: linear-gradient(90deg,rgb(9, 69, 96)0%,rgba(32, 44, 96, 0.997) 43%);
}

#animal-content{
  max-width: 500px;
  max-height: 700px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  margin-bottom: 100px;
  box-shadow: 0 14px 28px rgba(16, 15, 15, 0.25), 0 10px 10px rgba(0,0,0,0.22);
  /* justify-content: space-around; */
  /* align-items: flex-start; */
}

.profile_pic{
  margin: auto;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.banner {
  background: linear-gradient(90deg,rgb(1, 12, 40)0%,rgb(2, 21, 74) 43%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-size: 30px;
  border-radius: 4px;
}

.bannerlogo{
  display: inline-block;
  max-width: 200px; 
}