.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(76, 72, 72);
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(22, 21, 21);
}


body{
  background: rgb(23, 155, 181);
  background: linear-gradient(90deg,rgb(89, 175, 221)0%,rgb(89, 175, 221) 43%);
}

#animal-content{
  max-width: 700px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fff;
  justify-content: space-around;
  align-items: flex-start;
}

.profile_pic{
  margin: auto;
  margin-bottom: 50px;
  border-radius: 4px;
  max-width: 400px;
  max-height: 400px;
  margin-top: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.banner {
  padding: 5px;
  text-align: center;
  background: rgb(116, 156, 243);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: white;
  font-size: 30px;
}