
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  color: rgb(233, 241, 241);
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(213, 206, 206);
}

body{
  background: linear-gradient(90deg,rgb(9, 69, 96)0%,rgba(32, 44, 96, 0.997) 43%);
}

#animal-content{
  max-width: 800px;
  /* max-height: 200px; */
  margin: auto;
  /* margin-top: 100px; */
  /* border-radius: 4px; */
  margin-bottom: 100px; 
}

.profile_pic{
  margin: auto;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 60%;
  height: 60%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.banner {
  background: linear-gradient(90deg,rgb(9, 69, 96)0%,rgba(32, 44, 96, 0.997) 43%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-size: 30px;
  border-radius: 4px;
}

.bannerlogo{
  display: inline-block;
  max-width: 200px; 
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #6a6868;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}